<header>
  &emsp;
  <% if (user) { %>
    <form method="POST" action="/logout"> 
      <%= user["email"] %>&emsp;
      <input type="submit" value="Logout"/>
    </form>
  <% } else { %>
    <form method="GET" action="/login"> 
      <input type="submit" value="Login"/> 
    </form>
    <a href="/register"><span>Register</span></a>
  <% } %>
</header>