<header>
  &emsp;
  <% if (user) { %>  <!--//if there is a user name - button works-->
    <form method="POST" action="/logout"> 
      <%= user["email"] %>&emsp;  <!--//keeps the email there-->
      <input type="submit" value="Logout"/>
    </form>
  <% } else { %>
<<<<<<< HEAD
  <form method="POST" action="/login">  <!--this just has to match the path on server?-->
    <input type="text" name="login" placeholder="username" style="width: 100px"> <!--what is each for?-->
=======
  <form method="GET" action="/login"> 
   
>>>>>>> features/registration
    <input type="submit" value="Login"/> 
  </form>
  <!-- <form method="GET" action="/register">
    <input type="submit" value="Register"/>
  </form> -->
  <a href="/register"><span>Register</span></a>
  <% } %>
</header>