<header>
  &emsp;
  <% if (user) { %>  <!--//if there is a user name - button works-->
    <form method="POST" action="/logout"> 
      <%= user["email"] %>&emsp;  <!--//keeps the email there-->
      <input type="submit" value="Logout"/>
    </form>
  <% } else { %>
  <form method="GET" action="/login"> 
    <input type="submit" value="Login"/> 
  </form>
  <a href="/register"><span>Register</span></a>
  <% } %>
</header>