<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include partials/_header %>
  </header>
    <!-- Add your EJS code here -->
    <!-- With = it prints to the template -->
    <ul>
      <% for (shortUrl in urls) { %>
        <li>
          <span><%= urls[shortUrl] %></span>
          <a href=>Shorten URL</a>
        </li>
      <% } %>
    </ul>
</body>
</html>
